In [6]:
#Step 0 Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#Step 1 import data
df_raw = pd.read_csv("../data/hour.csv")
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [8]:
df_raw.sample(10,random_state=2025)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
3810,3811,2011-06-12,2,0,6,16,0,0,0,3,0.68,0.6364,0.83,0.2836,115,235,350
15985,15986,2012-11-03,4,1,11,18,0,6,0,2,0.36,0.3333,0.46,0.2836,58,239,297
8444,8445,2011-12-23,1,0,12,12,0,5,1,1,0.40,0.4091,0.54,0.5224,14,156,170
8788,8789,2012-01-07,1,1,1,0,0,6,0,1,0.36,0.3485,0.50,0.1642,2,77,79
1925,1926,2011-03-26,2,0,3,0,0,6,0,2,0.26,0.2424,0.38,0.2836,3,25,28
457,458,2011-01-21,1,0,1,2,0,5,1,3,0.24,0.2424,0.75,0.1642,0,2,2
2430,2431,2011-04-16,2,0,4,4,0,6,0,2,0.36,0.3485,0.87,0.2239,1,4,5
16935,16936,2012-12-13,4,1,12,10,0,4,1,1,0.32,0.3030,0.45,0.2836,28,139,167
851,852,2011-02-07,1,0,2,22,0,1,1,1,0.28,0.3030,0.81,0.0896,3,34,37
5181,5182,2011-08-08,3,0,8,19,0,1,1,1,0.82,0.7424,0.43,0.1045,64,352,416

In [16]:
#Step 2: Preprocessing
df_baking = df_raw.copy()
df_baking['season'] = df_baking['season'].map({1:"invierno", 2:"primavera", 3:"verano", 4:"otoño"})
df_baking['season'] = df_baking['season'].astype('category')
df_baking['yr'] = df_baking['yr'].map({0:2011, 1:2012})
df_baking['yr'] = df_baking['yr'].astype('category')
df_baking['mnth'] = df_baking['mnth'].astype('category')
df_baking['weekday'] = df_baking['weekday'].map({0:"D", 1:"L",2:"Ma",3:"Mi",4:"J",5:"V",6:"S"})
df_baking['weekday'] = df_baking['weekday'].astype('category')
df_baking['weathersit'] = df_baking['weathersit'].astype('category')
df_baking['temp'] = df_baking['temp'].map(lambda x: x*47-8)
df_baking['atemp'] = df_baking['atemp'].map(lambda x: x*66-16)
df_baking['hum'] = df_baking['hum'].map(lambda x: x*100)
df_baking['windspeed'] = df_baking['windspeed'].map(lambda x: x*67)
df_baking['holiday'] = df_baking['holiday'].map({0:"No", 1:"Si"})
df_baking['holiday'] = df_baking['holiday'].astype('category')
df_baking['workingday'] = df_baking['workingday'].map({0:"No", 1:"Si"})
df_baking['workingday'] = df_baking['workingday'].astype('category')
df_baking['dteday'] = pd.to_datetime(df_baking['dteday'], errors='coerce')
df_baking['hr'] = pd.to_numeric(df_baking['hr'], errors='coerce').astype('Int64')
df_baking['datetime'] = df_baking['dteday'] + pd.to_timedelta(df_baking['hr'], unit='h')
df_baking = df_baking.sort_values('datetime').set_index('datetime').asfreq('H')
df_baking = df_baking.drop(columns=['instant','yr','mnth','hr','dteday'])
df = df_baking.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17544 entries, 2011-01-01 00:00:00 to 2012-12-31 23:00:00
Freq: h
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      17379 non-null  category
 1   holiday     17379 non-null  category
 2   weekday     17379 non-null  category
 3   workingday  17379 non-null  category
 4   weathersit  17379 non-null  category
 5   temp        17379 non-null  float64
 6   atemp       17379 non-null  float64
 7   hum         17379 non-null  float64
 8   windspeed   17379 non-null  float64
 9   casual      17379 non-null  float64
 10  registered  17379 non-null  float64
 11  cnt         17379 non-null  float64
dtypes: category(5), float64(7)
memory usage: 1.2 MB

/tmp/ipykernel_22698/3479615975.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_baking = df_baking.sort_values('datetime').set_index('datetime').asfreq('H')

In [21]:
df.sample(10, random_state= 2025)

,season,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
datetime,,,,,,,,,,,,
2012-11-03 22:00:00,otoño,No,S,No,1,7.04,5.9978,57.0,7.0015,13.0,133.0,146.0
2012-12-01 05:00:00,otoño,No,S,No,1,3.28,1.0016,87.0,6.0032,1.0,12.0,13.0
2011-06-23 00:00:00,verano,No,J,Si,1,25.84,30.0020,79.0,15.0013,5.0,44.0,49.0
2012-10-01 00:00:00,otoño,No,L,Si,1,13.62,13.9970,72.0,7.0015,6.0,39.0,45.0
2012-02-05 15:00:00,invierno,No,D,No,2,6.10,3.0014,56.0,16.9979,55.0,217.0,272.0
2011-10-28 13:00:00,otoño,No,V,Si,2,9.86,9.9974,42.0,15.0013,43.0,185.0,228.0
2011-06-13 05:00:00,primavera,No,L,Si,1,17.38,18.0032,64.0,26.0027,2.0,27.0,29.0
2011-05-03 10:00:00,primavera,No,Ma,Si,2,22.08,24.0026,69.0,23.9994,36.0,91.0,127.0
2012-12-11 15:00:00,otoño,No,Ma,Si,2,9.86,9.9974,50.0,15.0013,20.0,250.0,270.0
2011-08-04 14:00:00,verano,No,J,Si,1,29.60,34.0016,55.0,11.0014,53.0,114.0,167.0

In [ ]:
#Step 3: EDA